@use 'variables'
@use 'mixins'
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')

*
    font-family: 'Roboto', sans-serif
    font-weight: 400
    user-select: none

body
    background-color: variables.$primary-background

a
    color: variables.$link-color
    text-decoration: none

p
    margin: 0.4rem

.title
    font-weight: 700
    text-align: center
    color: variables.$text-color

.aside
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 1rem

    &-div
        &-title
            color: variables.$aside-title-color
            text-align: center
            font-weight: 700

        &-content
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            background-color: variables.$aside-background
            width: 128px
            height: 96px
            padding: 1rem 0
            border-radius: 10px
            gap: 0.5rem

            &-number
                font-size: 2rem
                color: variables.$aside-content-color

            &-label
                color: variables.$aside-content-color

            &-input
                color: variables.$aside-content-color
                width: 30px

            &-button
                background-color: variables.$button-background
                border: none
                border-radius: 8px
                font-size: 1rem
                padding: 0.5rem 1rem
                width: 5rem
                color: variables.$aside-button-color

            &-button:hover
                @include mixins.button-hover
                flex-wrap: wrap
            
            &-button:disabled
                @include mixins.button-disabled

.main
    display: flex
    justify-content: center
    align-items: center

    &-section
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        border-radius: 10px
        padding: 1rem
        background-color: variables.$secondary-background
        color: variables.$text-color

        &-figure
            display: flex
            justify-content: center
            align-items: center

            img
                width: 50%

        &-pokename
            font-weight: 700

        &-types
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            gap: 0.4rem

            &-container
                display: flex
                justify-content: center
                align-items: center
                flex-wrap: wrap
                gap: 0.4rem

                &-button
                    border: 1px solid variables.$primary-background
                    border-radius: 8px
                    font-size: 0.8rem
                    padding: 0.2rem 0.5rem
                    color: variables.$text-color

                &-button:hover
                    @include mixins.button-hover

                &-button:disabled
                    @include mixins.button-disabled

        &-buttons
            display: flex
            justify-content: center
            align-items: center
            gap: 1rem
            margin-top: 1rem

            &-button
                background-color: variables.$button-background
                border: none
                border-radius: 8px
                font-size: 1rem
                padding: 0.5rem 1rem
                color: variables.$text-color

            &-button:hover
                @include mixins.button-hover

.footer
    text-align: center
    margin-top: 1rem

    &-text
        color: variables.$text-color
        font-size: 1rem

#normal
    background-color: variables.$normal

#fighting
    background-color: variables.$fighting

#poison
    background-color: variables.$poison

#ground
    background-color: variables.$ground

#rock
    background-color: variables.$rock

#bug
    background-color: variables.$bug

#ghost
    background-color: variables.$ghost

#steel
    background-color: variables.$steel

#fire
    background-color: variables.$fire

#water
    background-color: variables.$water

#grass
    background-color: variables.$grass

#electric
    background-color: variables.$electric

#flying
    background-color: variables.$flying

#psychic
    background-color: variables.$psychic

#ice
    background-color: variables.$ice

#dragon
    background-color: variables.$dragon

#dark
    background-color: variables.$dark

#fairy
    background-color: variables.$fairy

@media (max-width: 700px)
    .main-section-types-container
        padding: 0 4rem
    
    .main-section-figure img
        width: 20vw

@media (max-width: 600px)
    .main
        flex-direction: column

        &-section-figure img
            width: 30vw

    .aside
        flex-direction: row
        gap: 4rem
        margin: 1rem 0

@media (max-width: 300px)
    .aside-div-content
        width: 96px
        height: 96px
        padding: 1rem 0
        border-radius: 10px
        gap: 0.5rem