$primary-500: #E74C3C
$secondary-500: #595959
$white: #fff
$black: #202124

//Type Color
$normal: #BAB2AB
$fighting: #7F331D
$poison: #944592
$ground: #C8A95F
$rock: #9E863C
$bug: #A9BA27
$ghost: #605FAA
$steel: #A7A8B3
$fire: #EE400E
$water: #3393F4
$grass: #78C53C
$electric: #F8B717
$flying: #99A8F3
$psychic: #E6477D
$ice: #6DD3F2
$dragon: #6958BE
$dark: #423429
$fairy: #F3ACF2