@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-display: swap;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202124;
}

a {
  color: #fff;
  text-decoration: underline;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#fade, #modal {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #202124;
  width: 500px;
  max-width: 90%;
  padding: 1rem;
  border-radius: 10px;
  max-height: 100%;
  overflow-y: scroll;
}

#modal.hide, #fade.hide {
  opacity: 0;
  pointer-events: none;
}

#modal.hide {
  top: 0;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}
.modal-header-title {
  font-weight: 700;
  color: #fff;
}
.modal-header-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #202124;
}
.modal-header-button-icon {
  font-size: 1.2rem;
  color: #fff;
}
.modal-header-button:hover {
  cursor: pointer;
}
.modal-header-button:hover .modal-header-button-icon {
  color: #E74C3C;
}
.modal-body {
  text-align: center;
}
.modal-body-div {
  margin-top: 20px;
}
.modal-body-img {
  border-radius: 5px;
  max-width: 90%;
  margin-top: 10px;
}
.modal-body-lista {
  text-align: start;
  margin-left: 10px;
}
.modal-body-title {
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
}
.modal-body-text {
  font-weight: 400;
  color: #fff;
}
.modal-body-span {
  font-weight: 700;
}
.modal-footer {
  border-top: 1px solid #fff;
  padding-top: 10px;
  margin-top: 20px;
}
.modal-footer-text {
  text-align: center;
  font-weight: 700;
  color: #fff;
}

.github-corner svg {
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

.bi-square, .bi-check-square {
  font-size: 0.7rem;
}

#share {
  margin-left: 5px;
}

.main {
  padding-top: 20px;
}
@keyframes octocat-wave {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-25deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-25deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.main-header-title {
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin-right: 10px;
}
.main-header-button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #595959;
}
.main-header-button-icon {
  font-size: 1.2rem;
  color: #fff;
}
.main-header-button:hover {
  cursor: pointer;
  opacity: 0.7;
  background-color: #E74C3C;
}
.main-pokeguess {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-pokeguess-game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  background-color: #E74C3C;
  min-height: 570px;
  min-width: 507px;
  color: #fff;
}
.main-pokeguess-game-figure {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 237.5px;
}
.main-pokeguess-game-figure img {
  width: 50%;
}
.main-pokeguess-game-pokename {
  font-weight: 700;
  margin-bottom: 10px;
}
.main-pokeguess-game-textType {
  text-align: center;
  margin-bottom: 10px;
}
.main-pokeguess-game-types {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.main-pokeguess-game-types-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.main-pokeguess-game-types-container-button {
  border: 1px solid #202124;
  border-radius: 8px;
  padding: 5px 10px;
  color: #fff;
}
.main-pokeguess-game-types-container-button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.main-pokeguess-game-types-container-button:disabled {
  cursor: default;
  opacity: 0.4;
  background-color: #595959;
}
.main-pokeguess-game-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.main-pokeguess-game-buttons-button {
  background-color: #595959;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  padding: 5px 20px;
  color: #fff;
}
.main-pokeguess-game-buttons-button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.main-pokeguess-game-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  width: 100%;
  border-radius: 20px;
  margin-top: 10px;
}
.main-pokeguess-game-settings p {
  text-align: center;
  color: #202124;
  margin: 10px;
}

#gen1 {
  border-radius: 10px 0 0 0;
}

#gen9 {
  border-radius: 0 0 0 10px;
}

.aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.aside-div-title {
  color: #fff;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}
.aside-div-content-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  min-width: 128px;
  min-height: 96px;
  padding: 10px 0;
  gap: 8px;
  border-radius: 10px 0 0 10px;
}
.aside-div-content-left-gen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  min-width: 128px;
  min-height: 96px;
  border-radius: 10px 0 0 10px;
}
.aside-div-content-left-gen-button {
  background-color: #595959;
  border: none;
  font-size: 1rem;
  padding: 8px 0;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.aside-div-content-left-gen-button:hover {
  cursor: pointer;
  opacity: 0.7;
  background-color: #E74C3C;
}
.aside-div-content-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  min-width: 128px;
  min-height: 96px;
  padding: 16px 0;
  gap: 8px;
  border-radius: 0 10px 10px 0;
}
.aside-div-content-title {
  font-size: 1rem;
  color: #202124;
}
.aside-div-content-score-current {
  margin-bottom: 0.5rem;
}
.aside-div-content-number {
  font-size: 2rem;
  color: #202124;
}
.aside-div-content-label {
  color: #202124;
}
.aside-div-content-input {
  color: #202124;
  width: 30px;
  border-radius: 3px;
  border: 1px solid #595959;
}
.aside-div-content-input:focus {
  outline-color: #E74C3C;
}
.aside-div-content-button {
  background-color: #595959;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  padding: 5px 0;
  width: 5rem;
  color: #fff;
}
.aside-div-content-button:hover {
  cursor: pointer;
  opacity: 0.7;
  background-color: #E74C3C;
}
.aside-div-content-button:disabled {
  cursor: default;
  opacity: 0.4;
  background-color: #595959;
}

#cookie-consent-modal {
  display: none;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px 30px;
}
#cookie-consent-modal-link {
  color: #595959;
}

#cookie-accept-btn {
  background-color: #E74C3C;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

#cookie-accept-btn:hover {
  cursor: pointer;
  opacity: 0.7;
  background-color: #E74C3C;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  padding: 20px 10px;
  text-align: center;
}
.footer-copyright {
  color: #fff;
  font-size: 0.8rem;
}
.footer-lang {
  border: none;
  border-radius: 3px;
  padding: 3px;
  color: #202124;
  background-color: #fff;
}
.footer-lang-option {
  color: #fff;
}
.footer-lang:focus {
  outline-color: #E74C3C;
}
.footer-version {
  color: #fff;
  font-size: 0.8rem;
}
.footer-by {
  color: #fff;
  font-size: 0.8rem;
}
.footer-by-heart {
  color: #E74C3C;
}
.footer-bold {
  font-weight: 700;
}

#normal {
  background-color: #9FA19E;
}

#fighting {
  background-color: #c53800;
}

#poison {
  background-color: #944592;
}

#ground {
  background-color: #C8A95F;
}

#rock {
  background-color: #9E863C;
}

#bug {
  background-color: #A9BA27;
}

#ghost {
  background-color: #605FAA;
}

#steel {
  background-color: #598FA2;
}

#fire {
  background-color: #E62828;
}

#water {
  background-color: #3393F4;
}

#grass {
  background-color: #78C53C;
}

#electric {
  background-color: #F8B717;
}

#flying {
  background-color: #99A8F3;
}

#psychic {
  background-color: #E6477D;
}

#ice {
  background-color: #6DD3F2;
}

#dragon {
  background-color: #6958BE;
}

#dark {
  background-color: #50413E;
}

#fairy {
  background-color: #ED91E9;
}

@media (max-width: 820px) {
  .aside {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
  }
  .aside-div-content-left, .aside-div-content-right {
    border-radius: 10px;
  }
  .aside-div-content-left-gen {
    border-radius: 10px;
  }
  #gen1 {
    border-radius: 10px 10px 0 0;
  }
  #gen9 {
    border-radius: 0 0 10px 10px;
  }
  .main-pokeguess {
    flex-direction: column;
  }
  .main-pokeguess-game {
    min-height: 600px;
  }
  .main-pokeguess-game-buttons-button {
    padding: 5px 10px;
  }
  .main-pokeguess-game-types-container {
    padding: 0 60px;
  }
  .main-pokeguess-game-types-container-button {
    padding: 5px 10px;
  }
  .main-pokeguess-game-figure img {
    width: 40%;
  }
}
@media (max-width: 600px) {
  .main-pokeguess-game {
    min-width: 253.5px;
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
@media (max-width: 400px) {
  .aside-div-content-left, .aside-div-content-right {
    width: 96px;
    min-height: 96px;
    padding: 10px 0;
    gap: 5px;
  }
  .aside-div-content-left-gen {
    width: 96px;
    min-height: 96px;
  }
  .main-pokeguess-game {
    padding: 10px 0;
  }
  .main-pokeguess-game-figure img {
    width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
